.cover__subtitle {
  display: flex;
  margin: 16px;
  max-width: 360px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  z-index: 2;

}

@media (max-width:360px) {
  .cover__subtitle {
    margin: 8px;
    white-space: pre-line;
    max-width:  288px;
    font-size: 14px;
    line-height: 16px;
  }
}
