.footer__link {
  position: relative;
  margin-right: 18px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
}

.footer__link:nth-child(5) {
  margin-right: 0;
}

@media screen and (max-width: 320px) {
  .footer__link {
    margin-right: 0px;
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 24px;
  }
  .footer__link:nth-child(5) {
    margin-bottom: 0px;
  }
}
