.place__paragraph_second {
  margin: 0;
  max-width: 484px;
  max-height: 203px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
  .place__paragraph_second {
    max-width: 456px;
    max-height: 232px;
  }
}
