.lead__title {
  margin: auto auto 32px;
  position: relative;
  max-width: 720px;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #FFFFFF;
}

@media (max-width: 697px) {
  .lead__title {
    font-size: 13vw;
    line-height: 13vw;
  }
}

@media (max-width: 320px) {
  .lead__title {
    margin: auto auto 16px;
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}
