.cover__background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1184px;
  min-height: 740px;
  background: url(../../../images/sprint-3-images/cover-trains.jpg) center / cover;
  position: relative;
  background-size: cover;
  text-decoration: none;
  color: white;
  z-index: 1;
}

.cover__background::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #2A2C2F;
  opacity: 0.3;
  z-index: -1;
}


.cover__background:hover::before {
  opacity: 0.8;
  transition: opacity .2s linear;
}


@media (max-width:1024px) {
  .cover__background {
    max-width:  1024px;
    min-height: 640px;
  }
}

@media (max-width: 768px) {
  .cover__background {
    max-width: 768px;
    min-height: 480px;
  }
}

@media (max-width: 536px) {
  .cover__background {
    max-width: 511px;
    min-height: 450px;
  }
}

@media (max-width:360px) {
  .cover__background {
    margin-bottom: 64px;
    max-width:  320px;
    min-height: 200px;
  }
}
