.cover__title {
  display: flex;
  margin: 16px;
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFFFFF;
  z-index: 2;
}

@media (max-width: 536px) {
  .cover__title {
    max-width: 300px;
    font-size: 40px;
    line-height: 44px;
  }
}

@media (max-width:320px) {
  .cover__title {
    margin: 8px;
    max-width:  250px;
    font-size: 32px;
    line-height: 35px;
  }
}
