.cover__title {
  position: relative;
  max-width: 560px;
  max-height: 152px;
  margin: auto;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFFFFF;
  grid-row: 5/6;
  grid-column: 1/2;
}


@media screen and (max-width: 320px) {
  .cover__title {
    margin: auto;
    padding: 33px 16px 16px;
    max-width: 255px;
    max-height: 70px;
    font-size: 32px;
    line-height: 35px;
  }
}
