.place {
  margin: 0 auto;
  max-width: 984px;
  min-height: 660px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px 40px;
  color: #FFFFFF;
}

@media (max-width:1024px) {
  .place {
    margin: 0 48px;
    max-width: 984px;
    column-gap: 32px;
  }
}

@media (max-width:768px) {
  .place {
    margin: 0 24px;
    max-width: 720px;
    column-gap: 28px;
  }
}

@media (max-width:460px) {
  .place {
    margin: 0 auto;
    padding-bottom: 50px;
    grid-template-columns: 1fr;
    max-width: 320px;
    column-gap: 12px;
  }
}
