.footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: 92px 48px 24px 48px;
  position: relative;
  max-width: 1184px;
}

@media (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}

@media (max-width: 768px) {
  .footer {
    margin: 88px 24px 24px 24px;
    max-width: 720px;
  }
}

@media (max-width: 705px) {
  .footer {
    display: block;
    margin: 88px 118px 24px 16px;
    width: 186px;
  }
}


@media (max-width: 360px) {
  .footer {
    margin: 0 118px 24px 16px;
  }
}
