.place__website {
  max-width: 456px;
  max-height: 46px;
  display: flex;
  justify-content: end;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .place__website {
    max-width: 352px;
    max-height: 46px;
  }
}

@media screen and (max-width: 320px) {
  .place__website {
    margin: auto 16px;
    max-width: 288px;
    max-height: 46px;
    grid-row: 2/3;
    grid-column: 1/1;
  }
}
