.place__website {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  max-width: 352px;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .place__website {
    margin-left: 15px;
    max-width: 262px;
  }
}

@media (max-width: 320px) {
  .place__website {
    margin-left: 16px;
    max-width: 288px;
  }
}
